.box {
    max-width: 500px;
    padding:20px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    border: solid 2px rgb(248, 224, 90);
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(14, 13, 13);
}


.header{
    font-weight: bolder;
}



.skills{
    justify-content: center;
    align-items: center;
}
.skills ul{
    padding-left: 0;
}
.skills h1 {
    margin-bottom: 0;
}